@import "abstract/variables";
@import "abstract/mixins";

@import "base/typography";
@import "base/base";

@import "layout/branding";
@import "layout/header";
@import "layout/menu";
@import "layout/hero";
@import "layout/content";
@import "layout/footer";
@import "layout/prev-next";

@import "components/stamps";
@import "components/tiles";
@import "components/single-tiles";
@import "components/totop";

@import "pages/home";
@import "pages/over-ons";

@media screen and (max-width: 480px) {
  html {
    font-size: 11px;
  }
}

// h1,h2,h3,h4,h5,h6 {
//   letter-spacing: 1px;
//   font-family: 'Noah Bold', sans-serif;
// //  font-variant: all-small-caps;
// //  text-transform: uppercase;
// //  color: #ed1c23;
// //  font-weight: bold;
//   &.bs-header-title {
//     font-weight: normal;
//     letter-spacing: 1px;
//     font-size: 5em;
//     // max-width: 80%;
//     // margin: 0 auto;
//     // opacity: .6;
//     line-height: 1;
//   }
// }

// p {
//   font-size: 1.35em;
//   color: #222;
// }
em {
  color: currentColor;
}


.bs-color-red {
  color: $color-primary;
}

.uk-divider-small::after {
  border-top: 3px solid $color-primary;
}

.bs-font-red {
  color: $color-primary;
}

// .uk-link:hover, a:hover {
//   color: white;
// }

// @import "hero";
@import "logo";
// @import "menu";
// @import "content";
@import "video";
@import "resume";
// @import "prev-next";

.alignleft {
	display: inline;
	float: left;
	margin-right: 15px;
	margin-right: 1.5rem;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 15px;
	margin-left: 1.5rem;
}

.aligncenter {
	clear: both;
	display: block;
	margin: 0 auto;
}

.alignnone {
	margin: 10px 0;
}
