.bs-about {

  &__tiles {
    display: flex;
    flex-wrap: wrap;

    :nth-child(3) {
      flex-direction: row-reverse;
    }
  }

  &__item {
    flex: 0 0 50%;
    color: #fff;

    // &:nth-of-type(even) {
    //   flex: 1;
    // }

    display: flex;

    &:first-of-type {
      background-color: #ff0000;
    }

    &:nth-of-type(2) {
      color: #000;
      background-color: #f7f7f7;
      flex: 1;
    }

    &:nth-of-type(3) {
      background-color: purple;
    }
  }

  &__text-box {
    flex: 0 0 50%;
  }

  &__text {
    font-size: .8rem;
    line-height: 1.25;
    padding: 2rem 1.5rem;
  }

  &__header {
    @include heading-default;
    font-size: 1rem;
  }

  &__content {
    margin-top: .25rem;
  }

  &__photo {
    flex: 1;
    background-size: cover;
  }

  &__button {
    display: inline-block;
    margin-top: 1rem;
    padding: .25rem .5rem;
    color: currentColor;
    border: 1px solid currentColor;
    text-transform: uppercase;
    transition: all .2s;

    &:hover {
      color: inherit;
      text-decoration: none;
      transform: scale(1.25) rotate(2.5deg);
    }
  }

}
