.bs-content {
  padding: 4rem 0;

  &__inner {
    padding: 0 1rem;

    @include respond-large {
      padding: 0 4rem;
    }
  }

  &__text-intro {
    font-size: .9rem;
    line-height: 1.25;
    font-style: italic;
    width: 50%;
    margin-top: -4rem;
  }

  &__text {

    @include respond-large {
      columns: 2;
      column-fill: balance;
      column-gap: 6rem;
      column-rule: 1px solid;
    }
  }

}
