$color-primary: #ed1b24;
$color-secondary: #ffff48;

$color-grey-dark: #777;
$color-grey-dark-3: #333;
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-white: #fff;

$color-black: #222;

// FONTS
$font-primary: 'AvenirNextLTPro-Medium', sans-serif;
$font-secondary: 'Noah Bold', sans-serif;
$font-secondary: 'Roboto Mono', monospace;
$font-tertiary: 'TheHandBold', cursive;
$font-tertiary: 'Roboto Mono', monospace;
